server {
    listen      80;
    server_name phpci.dev;

    access_log  /var/log/nginx/phpci.access.log;
    error_log   /var/log/nginx/phpci.error.log;

    rewrite_log on;
    root        /home/vagrant/sites/phpci/public_html/public;

    location / {
            try_files $uri @phpci;
    }

    location @phpci {
            # Pass to FastCGI:
            fastcgi_pass unix:/var/run/php5-fpm.sock;
            fastcgi_index   index.php;
            fastcgi_buffers 256 4k;
            include         fastcgi_params;
            fastcgi_param   SCRIPT_FILENAME $document_root/index.php;
            fastcgi_param   SCRIPT_NAME index.php;
    }

    # Static files.
    # Set expire headers, Turn off access log
    location ~* \favicon.ico$ {
        access_log off;
        expires 1d;
        add_header Cache-Control public;
    }
    #location ~ ^/(img|cjs|ccss)/ {
    #    access_log off;
    #    expires 7d;
    #    add_header Cache-Control public;
    #}

    # Deny access to .htaccess   files,
    # git & svn repositories, etc
    location ~ /(\.ht|\.git|\.svn) {
        deny  all;
    }
}